/* Pretendard 폰트를 사용하기 위해 외부 CSS 파일을 가져옵니다. */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

/* 모든 요소에 대해 Pretendard 폰트를 적용합니다. */
* {
  font-family: Pretendard;
}

/* body 태그의 배경색을 #f7f8fc로 설정합니다. */
body {
  background: #f7f8fc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* canvas 요소는 2초의 전환 효과를 가지며, 포인터 이벤트를 비활성화합니다. */
canvas {
  transition: 2s;
  pointer-events: none;
}

/* 버튼의 스타일을 정의합니다. */
button {
  /* 배경색을 #febf00로 설정합니다. */
  background: #febf00;
  /* 상단에 1rem의 여백을 줍니다. */
  margin-top: 1rem;
  /* 패딩을 .8rem 1.8rem로 설정합니다. */
  padding: .8rem 1.8rem;
  /* 테두리를 없앱니다. */
  border: none;
  /* 폰트 크기를 1.5rem로 설정합니다. */
  font-size: 1.5rem;
  /* 폰트 굵기를 bold로 설정합니다. */
  font-weight: bold;
  /* 모서리를 5px 둥글게 설정합니다. */
  border-radius: 5px;
  /* 전환 효과를 .2초로 설정합니다. */
  transition: .2s;
  /* 커서를 포인터로 설정합니다. */
  cursor: pointer;
}

/* 버튼을 클릭할 때의 스타일을 정의합니다. */
button:active {
  /* 배경색을 #444로 설정합니다. */
  background: #444;
  /* 텍스트 색상을 #f9f9f9로 설정합니다. */
  color: #f9f9f9;
}

/* div 요소의 스타일을 정의합니다. */
div {
  /* 너비를 380px로 설정합니다. */
  width: 380px;
  /* Flex 레이아웃을 사용합니다. */
  display: flex;
  /* 자식 요소들을 수직으로 가운데 정렬합니다. */
  align-items: center;
  /* 자식 요소들을 수직 방향으로 정렬합니다. */
  flex-direction: column;
  /* 위치를 상대적으로 설정합니다. */
  position: relative;
}

/* pointer 클래스의 스타일을 정의합니다. */
.pointer {
  position: absolute;
  width: 10px;
  height: 50px;
  border-radius: 5px;
  background: #000;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 22;
}

.rouletteContainer {
    border: 1px solid black;
}

/* .roulette 클래스의 스타일을 정의합니다. */
.roulette {
  /* 마진을 100px로 설정합니다. */
  margin:100px; 
  position: relative;
}

.triangle {
  position: absolute;
  top: 110px;
  border-radius: 5px;
  width: 0;
  height: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid black;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
}